html, body, .outerContainer {
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

#adminLayout {
    height: 100%;
}
#leftCol {
    width: 17em;
}
.header-title {
    font-weight: bold;
    font-size: large;
}

.claro .demoLayout .edgePanel {
    background-color: #bbd2e5;
}
.claro .demoLayout .centerPanel {
    background-color: #e8dde7;
}

.loadingOverlay {
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1001;
    display: block;
    background-color: #e8dde7;
    text-align: center;
    font-family: sans-serif;
}

/*For GridX*/
.gridx {
    height: 100%;
    width: 100%;
}