html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

#appLayout {
    height: 100%;
}
#leftCol {
    width: 14em;
}

.claro .demoLayout .edgePanel {
    background-color: #d0e9fc;
}

#viewsChart {
    width: 550px;
    height: 550px;
}

.noPad {
    padding: 0 !important;
}

.loadingOverlay {
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1001;
    display: block;
    background-color: #e8dde7;
    text-align: center;
    font-family: sans-serif;
}

.dialogTab {
    width: 100%;
    height: 35px;
    margin-bottom: 2px;
    background-color: rgba(106, 191, 106, 1);
    border: 1px solid darkslategray;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    font-family: Arial;
    line-height: 35px;
}
.dialogTab:hover {
    background-color: rgba(106, 191, 106, 0.7);
}