* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}
body {
    font-family: Arial;
    background-color: #3498DB;
    padding: 50px;
}
.login {
    margin: 20px auto;
    width: 500px;
}
.login-screen {
    background-color: #FFF;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.app-title {
    text-align: center;
    color: #777;
}

.login-form {
    text-align: center;
}

.login-form a {
    text-decoration: none;
}

.control-group {
    margin-bottom: 10px;
}

input {
    text-align: center;
    background-color: #ECF0F1;
    border: 2px solid transparent;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 200;
    padding: 10px 0;
    width: 460px;
    transition: border .5s;
    margin-left: auto;
    margin-right: auto;
}

input:focus {
    border: 2px solid #3498DB;
    box-shadow: none;
}

.btn {
    border: 2px solid transparent;
    background: #3498DB;
    color: #ffffff;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    text-decoration: none;
    text-shadow: none;
    border-radius: 3px;
    box-shadow: none;
    transition: 0.25s;
    display: inline;
    width: 122px;
    margin: 5px;
}

.btn:hover {
    background-color: #329cb9;
    cursor: pointer;
}

.btn:disabled {
    background-color: #3cc0e0;
    cursor: not-allowed;
}

h2 {
    color: #9dba75;
}

.loginMsg {
    height: 1em;
    margin: 5px 0 5px 0;
    color: #ff2424;
    visibility: hidden;
}

.login-link {
    font-size: 12px;
    color: #444;
    display: block;
    margin-top: 12px;
}

.pt-form-invalid .pt-input-invalid .loginMsg {
    visibility: visible;
}

.pt-form-invalid .pt-depends-on-form-validity {

}

.pt-form-mode-sign-in div.pt-input-show-mode-sign-up {
    display: none;
}
.pt-form-mode-sign-up div.pt-input-show-mode-sign-in {
    display: none;
}

.pt-form-mode-sign-up .pt-button-show-mode-sign-in {
    display: none;
}