<div class="pytclonAdminStackPanel" data-dojo-attach-point="containerNode">
    <div data-dojo-type="dijit/layout/StackContainer"
         data-dojo-attach-point="mainStackPanel"
         data-dojo-props="region:'center'"
         data-dojo-id="adminStackContainer">
        <div data-dojo-type="dijit/layout/ContentPane" title="First">
            Users
        </div>
        <div data-dojo-type="dijit/layout/ContentPane" title="Second">
            Not Users
        </div>
        <div data-dojo-type="dijit/layout/ContentPane" title="Third">
            Settings
        </div>
    </div>
</div>