<div data-dojo-attach-point="containerNode">
    <div id="adminLayout"
         class="demoLayout"
         data-dojo-type="dijit/layout/BorderContainer"
         data-dojo-props="design: 'headline'">
        <div class="centerPanel"
             data-dojo-type="dijit/layout/ContentPane"
             data-dojo-props="region: 'center'">

        </div>
        <div class="edgePanel"
             data-dojo-type="dijit/layout/ContentPane"
             data-dojo-props="region: 'top'">
            <span class="header-title">Admin Console</span>
        </div>
        <div id="leftCol"
             class="edgePanel"
             data-dojo-type="dijit/layout/ContentPane"
             data-dojo-props="region: 'left'">
            Sidebar content (left)
        </div>
    </div>
</div>
