<div class="pytclonAdminPane" data-dojo-attach-point="containerNode">
    <div id="adminLayout"
         class="demoLayout"
         data-dojo-type="dijit/layout/BorderContainer"
         data-dojo-props="design: 'headline', region:'center'">
        <div class="centerPanel"
             data-dojo-type="dijit/layout/ContentPane"
             data-dojo-props="region: 'center'">
            <div data-dojo-type="dijit/layout/StackContainer"
                 data-dojo-attach-point="mainStackPanel"
                 data-dojo-id="adminStackContainer">
                <div data-dojo-type="dijit/layout/ContentPane" title="First">
                    Users
                </div>
                <div data-dojo-type="dijit/layout/ContentPane" title="Second">
                    Not Users
                </div>
                <div data-dojo-type="dijit/layout/ContentPane" title="Third">
                    Settings
                </div>
            </div>
        </div>
        <div class="edgePanel"
             data-dojo-type="dijit/layout/ContentPane"
             data-dojo-props="region: 'top'">
            <span class="header-title">Admin Console</span>
        </div>
        <div id="leftCol"
             class="edgePanel"
             data-dojo-type="dijit/layout/ContentPane"
             data-dojo-props="region: 'left'">
            <div data-dojo-type="pytclon/admin/AdminLeftMenu"
                 data-dojo-attach-point="leftMenu"></div>
            Sidebar content (left)
            <button id="myButton"
                    data-dojo-type="dijit/form/Button"
                    data-dojo-attach-event="onClick:btnClicked">
                <span>Click</span>
            </button>
        </div>
    </div>
</div>
